{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

        <div class="row divider green">
                <div class="col-md-12"></div>
            </div>
            <div class="row banner menu">
                <div class="col-md-11 col-md-offset-1 padding-none">
                    <h1>Delete Item: {{item.item_name}}</h1>
                </div>
                <div class="col-md-11 col-md-offset-1 padding-none">
                        <h2> Are you sure you want to delete? </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-1 padding-top">
                    <form action="{{ url_for('deleteItemInCategory',category_id=category.category_id, item_id=item.item_id)}}" method = "post">
                            <button type="submit" class="btn btn-default delete" id="submit" type="submit">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete Item</button>
                                    <a href = '{{url_for('showCategoryItems', category_id=category.category_id)}}'>
                                        <button class="btn btn-default delete">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
                                    </a>
                                    <br><br>
                                    <p>
                                            <div class="form-group">
                                                    <p>
                                                        <label for="name">Name:</label>
                                                        <input type ="text" size="50" class="form-control" name="name" value="{{item.item_name }}" readonly>
                                                    </p>
                                                    <p>
                                                        <label for="name">Item Description:</label>
                                                        
                                                        <textarea rows="3" cols="60" class="form-control" name="description" readonly>{{item.item_description }}
                                                            </textarea><br>
                                                    </p>    
                                                    
                                                </div>


                                    </p>
                    </form>
                </div>
            </div>
      

{% endblock %}	