
<html>
        <head>
                <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
        </head>
	
    
    <h1> ZZ Sporting Goods 
   
        <input type="button" value="Login" style="float: right" onclick="location.href = '{{url_for('showLogin')}}'";>
    </h1>
        
    <hr>
	
		<body>
                
  	
			<div class = 'flash'>
				{% with messages = get_flashed_messages() %}
					{% if messages %}
	
						<ul>
						{% for message in messages %}
							<li> <strong> {{ message }} </strong> </li>
						{% endfor %}
						</ul>
					{% endif %}
				{% endwith %}
	
			</div>
				
			<div class = 'name'>
                <div class = 'categories'>
                        <header>
                                <h2 class="font-weight-light">Categories</h2>
                        </header>

						<table>

								<tr>
									<th> Category ID </th>
                                    <th> Category Name </th>
                                    <th colspan="1"> Category Options </th>
									
								</tr>

								{% for c in categories %}

								<tr>
									<td> {{c.category_id}} </td>
                                    <td> {{c.category_name}} </td>
                                    <td> <a href='{{url_for('showCategoryItems',category_id=c.category_id)}}' >View Items </a></td>
									
								</tr>
								{% endfor %}

                        </table>
                </div>        
                        
                        <br><br>
                <div class = 'recent-items'>
                        <header>
                                <h2 class="font-weight-light">Recent Items</h2>
                        </header>
                    <table>

                                <tr>
                                    <th> Item ID </th>
                                    <th> Item Name </th>
                                    <th> Item Description </th>
                                    <th> Category ID </th>
                                    <th> User ID </th>
                                    
                                </tr>
                                
                                {% for i in recentItemsAdded %}
                                <tr>
                                    <td> {{i.item_id}} </td>
                                    <td> {{i.item_name}} </td>
                                    <td> {{i.item_description}} </td>
                                    <td> {{i.category_id}} </td>
                                    <td> {{i.user_id}} </td>
                                </tr>
                                {% endfor %}
                    </table>

                </div>    
			</div>
		</body>
	
	</html>
	
	
	