
<html>
	<head>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	</head>
	<h1> Sporting Goods Item List </h1>
	<hr>
	
		<body>
	
	
			
	
	
			<div class = 'flash'>
				{% with messages = get_flashed_messages() %}
					{% if messages %}
	
						<ul>
						{% for message in messages %}
							<li> <strong> {{ message }} </strong> </li>
						{% endfor %}
						</ul>
					{% endif %}
				{% endwith %}
	
			</div>
			<div class = 'name'>
                    
                    <table>

                        <tr>
                            <th> Item ID </th>
                            <th> Item Name </th>
                            <th> Item Description </th>
                            <th> Category ID </th>
                            <th> User ID </th>
                            <th colspan="2"> Options </th>
                        </tr>
                        
                        {% for i in items %}
                        <tr>
                            <td> {{i.item_id}} </td>
                            <td> {{i.item_name}} </td>
                            <td> {{i.item_description}} </td>
                            <td> {{i.category_id}} </td>
                            <td> {{i.user_id}} </td>
                            
                        </tr>
                        {% endfor %}
                        
                    </table>
	
				</div>
	
			
			</div>
		</body>
	
	</html>
	
	
	