<p>
							<label>Item ID:</label>{{i. item_id}}
							<label>Item Name:</label>{{i.item_name}}
							<label>Item Description:</label>{{i.item_description}}
							<label>Category ID:</label>{{i.category_id}}
							<label>User:</label>{{i.user_id}}
						
						
					</p>


                    <p>
						{{i.item_id}}
                        {{i.item_name}}
                        {{i.item_description}}
                        {{i.category_id}}
                        {{i.user_id}}
						
						<div class = "editdeletepane">

							<a href='{{url_for('editItemInCategory',category_id=category.category_id, item_id=i.item_id)}}' >Edit Item</a>
							
						</div>
                    </p>
                    

                    <tr>
							<th align = "right">Item ID:	</th>	
							<td> {{i. item_id}} </td>		
						</tr>

						<tr>
								<th align = "right">Item Name:	</th>	
								<td> {{i.item_name}} </td>		
						</tr>

						<tr>
								<th align = "right">Item Description:	</th>	
								<td> {{i.item_description}} </td>		
						</tr>

						<tr>
								<th align = "right">Category ID:	</th>	
								<td> {{i.category_id}} </td>		
						</tr>

						<tr>
								<th align = "right">User:	</th>	
								<td> {{i.user_id}} </td>		
						</tr>
						<br>


						<p>
								{{c.category_id}}
								{{c.category_name}}
								
								<div class = "editdeletepane">
		
									
								</div>
							</p>

						<!-- {% endfor %} -->
	